{% extends "base_modal_form.html" %}
{% load widget_tweaks %}
{% block title %}Delete Harvestor Group{% endblock %}
{% block form_id %}formDeleteHarvestGroup{% endblock form_id %}
{% block form_action %}{% url 'betting:delete_harvest_group' object.pk %}{% endblock form_action %}

{% block modal-body %}


  <p>Delete harvestor group "{{object.name}} ({{object.slug}})"?</p>
  <input type="hidden" class="form-control form-control-sm" id="object_id" name="object_id" value="{{object.pk}}">


{% endblock %}


    {% block modal-footer %}
      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      <button type="submit" class="submit-btn btn btn-primary btn-sm" id="submit-form-delete-group-id">Delete Group</button>
    {% endblock modal-footer %}

