{% extends "base.html" %}
{% load static i18n %}
{% block title %}Distributions{% endblock %}

{% block content %}


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Distributions</h1>

        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" title="Create new forecasting" id="create-distribution" 
            onclick="create_distribution_dlg()">New Distribution</button >
          </div>
        </div>


      </div>



      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} col-sm">{{ message }}</div>
          {% endfor %}
      {% endif %}


      <div class="table-responsive">
        <table id="main_table" class="order-column table table-striped table-sm table-bordered" style="width:100%">
          <thead>
            <tr>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Slug</th>
              <th>Name</th>
              <th>Date</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Step</th>
            </tr>
            </tr>
          </thead>
        </table>
      </div>

    </main>
{% endblock content %}

{% block javascript %}
{{ block.super }} 
  <script>
    var editIcons = function ( data, type, row ) {
          var upd_url = "{% url 'betting:update_distribution' 0 %}";
          var delete_url = "{% url 'betting:delete_distribution' 0 %}";
          var gather_url = "{% url 'betting:gather_distribution' 0 %}";
          if ( type === 'display' ) {
              var r = 
                '<button type="button" class="update-distribution btn btn-sm btn-outline-secondary" data-id="' + upd_url + '" title="Update distribution" id="update-distribution">' +
                '   <span class="fa fa-pencil"></span>' +
                '</button>' +
                '<button type="button" class="delete-distribution btn btn-sm btn-outline-secondary" data-id="' + delete_url + '" title="Delete distribution" id="delete-distribution">' +
                '   <span class="fa fa-trash"></span>' +
                '</button>' +
                '<button type="button" class="gather-distribution btn btn-sm btn-outline-secondary" data-id="' + gather_url + '" title="Gather distribution" id="gather-distribution">' +
                '   <span class="fa fa-cog"></span>' +
                '</button>'
              ;
              r = r.replace(new RegExp('/0/', 'g'), '/'+data+'/');
              r = r.replace(new RegExp('=0', 'g'), '='+data);
              return r;
          }
        return data;
    };

    $(document).ready(function () {
      // $("a.nav-link").removeClass("active");//this will remove the active class from  previously active menu item 
      // $('#navbarOrders').addClass('active');      

      var table = $('#main_table').DataTable({
              'serverSide': true,
              'lengthMenu': [ 25, 50, 75, 100 ],
              'ajax': "{% url 'betting:distribution_list_api'  %}?format=datatables",
              'order': [[ 1, 'asc' ]],
              'select': true,
              'columns': [
                  {'data': 'id', 'render': editIcons, 'orderable': false, 'width':'5em'},
                  {'data': 'id', 'width':'3em'},
                  {'data': 'slug'},
                  {'data': 'name'},
                  {'data': 'gathering_date'},
                  {'data': 'start_date'},
                  {'data': 'end_date'},
                  {'data': 'step'},

              ],

              'drawCallback': function(settings, json) {
                $(".update-distribution").each(function () {
                    $(this).modalForm(
                      {formURL: $(this).data('id'),
                        modalID: "#modal",
                        modalContent: ".modal0-content",
                        modalForm: "#formUpdateDistribution",
                        submitBtn: "#submit-form-id"
                      }
                    );
                  });

                $(".delete-distribution").each(function () {
                    $(this).modalForm(
                      {formURL: $(this).data('id'),
                        modalID: "#modal",
                        modalContent: ".modal0-content",
                        modalForm: "#formDeleteDistribution",
                        submitBtn: "#submit-form-id",
                        isDeleteForm: true
                      }
                    );
                  });

                $(".gather-distribution").each(function () {
                    $(this).modalForm(
                      {formURL: $(this).data('id'),
                        modalID: "#modal",
                        modalContent: ".modal0-content",
                        modalForm: "#formGatherDistribution",
                        submitBtn: "#submit-form-id",
                        isDeleteForm: true
                      }
                    );
                  });

              }
      });


    });



    function create_distribution_dlg() 
      {
        
        var url = "{% url 'betting:create_distribution' %}";
        newForm("#modal",
                ".modal0-content",
                "#formCreateDistribution",
                url,
                ".invalid",
                "#submit-form-id")
      };


    
  </script>
{% endblock %}



