{% extends "base.html" %}
{% load static i18n %}
{% block title %}Harvest Handlers{% endblock %}

{% block content %}


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Harvest Handlers</h1>

        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" title="Create new harvest handler" id="create-harvest-handler" 
            onclick="create_handler_dlg()">Create Handler</button >
          </div>
        </div>


      </div>



      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} col-sm">{{ message }}</div>
          {% endfor %}
      {% endif %}


      <div class="table-responsive">
        <table id="main_table" class="order-column table table-striped table-sm table-bordered" style="width:100%">
          <thead>
            <tr>
            <tr>
              <th></th>
              <th>Slug</th>
              <th>Name</th>
              <th>Handler</th>
            </tr>
            </tr>
          </thead>
        </table>
      </div>

    </main>
{% endblock content %}



{% block javascript %}
{{ block.super }} 
  <script>
    var editIcons = function ( data, type, row ) {
          var upd_url = "{% url 'betting:update_harvest_handler' 0 %}";
          var delete_url = "{% url 'betting:delete_harvest_handler' 0 %}";
          var season_url = "{% url 'football:season_list' %}?selected_league=0";
          var match_url = "{% url 'football:match_list' %}?selected_league=0";
          if ( type === 'display' ) {
              var r = 
                '<button type="button" class="update-handler btn btn-sm btn-outline-secondary" data-id="' + upd_url + '" title="Edit harvest handler" id="update-handler">' +
                '   <span class="fa fa-pencil"></span>' +
                '</button>' +
                '<button type="button" class="delete-handler btn btn-sm btn-outline-secondary" data-id="' + delete_url + '" title="Delete harvest handler" id="delete-handler">' +
                '   <span class="fa fa-trash"></span>' +
                '</button>' +
                '<a class="btn btn-sm btn-outline-secondary" href="' + season_url + '"><span class="fa fa-sitemap" title="League seasons"></span></a>' +
                '<a class="btn btn-sm btn-outline-secondary" href="' + match_url + '"><span class="fa fa-exchange" title="League matches"></span></a>'
              ;
              r = r.replace(new RegExp('/0/', 'g'), '/'+data+'/');
              r = r.replace(new RegExp('=0', 'g'), '='+data);
              return r;
          }
        return data;
    };

    $(document).ready(function () {
      // $("a.nav-link").removeClass("active");//this will remove the active class from  previously active menu item 
      // $('#navbarOrders').addClass('active');      

      var table = $('#main_table').DataTable({
              'serverSide': true,
              'lengthMenu': [ 25, 50, 75, 100 ],
              'ajax': "{% url 'betting:harvest_handler_list_api'  %}?format=datatables",
              'order': [[ 2, 'asc' ]],
              'select': true,
              'columns': [
                  {'data': 'id', 'render': editIcons, 'orderable': false, 'width':'7em'},
                  {'data': 'slug', 'width':'12em'},
                  {'data': 'name'},
                  {'data': 'handler', 'width':'12em'},

              ],

              'drawCallback': function(settings, json) {
                $(".update-handler").each(function () {
                    $(this).modalForm(
                      {formURL: $(this).data('id'),
                        modalID: "#modal",
                        modalContent: ".modal0-content",
                        modalForm: "#formUpdateHarvestHandler",
                        submitBtn: "#submit-form-id"
                      }
                    );
                  });
                $(".delete-handler").each(function () {
                    $(this).modalForm(
                      {formURL: $(this).data('id'),
                        modalID: "#modal",
                        modalContent: ".modal0-content",
                        modalForm: "#formDeleteHarvestHandler",
                        submitBtn: "#submit-form-id",
                        isDeleteForm: true
                      }
                    );
                  });
              }
      });


    });



    function create_handler_dlg() 
      {
        
        var url = "{% url 'betting:create_harvest_handler' %}";
        newForm("#modal",
                ".modal0-content",
                "#formCreateHarvestHandler",
                url,
                ".invalid",
                "#submit-form-id")
      };


    function confirm_leagues_dlg() 
      {
        var table = $('#main_table').DataTable();
        var data = table.rows( { selected: true } ).data();
        var idarray=[]; 
        for (var i=0; i < data.length ;i++){
          idarray.push(data[i]["id"]);
        }
        
        var url = "{% url 'football:confirm_leagues' %}?leagues=" + idarray.toString();
        newForm("#modal",
                ".modal0-content",
                "#formConfirmLeagues",
                url,
                ".invalid",
                "#submit-form-id")
      };



    
  </script>
{% endblock %}



