{% extends "base.html" %}
{% load static i18n %}
{% block title %}Forecast Handlers{% endblock %}

{% block content %}


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Selected Odds</h1>

        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" title="Create new bet" id="create-bet" 
            onclick="create_bet_dlg()">Create Bet</button >
          </div>
        </div>


      </div>

      <div id="selected-info-id" class="alert alert-info col-sm">Selected: 0, Chance: , Expect:, Odd: </div>


      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} col-sm">{{ message }}</div>
          {% endfor %}
      {% endif %}


      <div class="table-responsive small">
        <table id="main_table" class="order-column table table-striped table-sm table-bordered" style="width:100%">
          <thead>
            <tr>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Success</th>
              <th>Expect</th>
              <th>Kelly</th>
              <th>Odd</th>
              <th>Period</th>
              <th>Param</th>
              <th>Team</th>
              <th>Yes</th>
              <th>Bookie</th>
              <th>Predictor</th>
              <th>league_id</th>
              <th>match_id</th>
              <th>select_id</th>
              <th>odd_id</th>
              <th>league_grp</th>
              <th>match_grp</th>
              <th>match_bid</th>
            </tr>
            </tr>
          </thead>
        </table>
      </div>

    </main>
{% endblock content %}



{% block javascript %}
{{ block.super }} 
  <script>
    var editIcons = function ( data, type, row ) {
          var upd_url = "{% url 'betting:update_forecast_handler' 0 %}";
          var delete_url = "{% url 'betting:delete_forecast_handler' 0 %}";
          if ( type === 'display' ) {
              var r = 
                '<button type="button" class="update-handler btn btn-sm btn-outline-secondary" data-id="' + upd_url + '" title="Edit forecast handler" id="update-handler">' +
                '   <span class="fa fa-pencil"></span>' +
                '</button>' +
                '<button type="button" class="delete-handler btn btn-sm btn-outline-secondary" data-id="' + delete_url + '" title="Delete forecast handler" id="delete-handler">' +
                '   <span class="fa fa-trash"></span>' +
                '</button>'
              ;
              r = r.replace(new RegExp('/0/', 'g'), '/'+data+'/');
              r = r.replace(new RegExp('=0', 'g'), '='+data);
              return r;
          }
        return data;
    };

    $(document).ready(function () {
      // $("a.nav-link").removeClass("active");//this will remove the active class from  previously active menu item 
      // $('#navbarOrders').addClass('active');      

      var table = $('#main_table').DataTable({
              'serverSide': false,
              'ajax': "{% url 'betting:selected_odd_list_api' %}?format=datatables",
              'scrollY':    '600px',
              'scrollCollapse': true,
              'paging':     false,
              'ordering': false,
              'searching': false,
              'select': true,
              'columns': [
                  {'data': 'id', 'render': editIcons, 'orderable': false, 'width':'4em'},
                  {'data': 'name'},
                  {'data': 'success_chance'},
                  {'data': 'result_value'},
                  {'data': 'kelly'},
                  {'data': 'odd_value'},
                  {'data': 'period'},
                  {'data': 'param'},
                  {'data': 'team'},
                  {'data': 'yes'},
                  {'data': 'bookie_name'},
                  {'data': 'predictor_name'},
                  {'data': 'league_id', 'visible': false},
                  {'data': 'match_id', 'visible': false},
                  {'data': 'select_id', 'visible': false},
                  {'data': 'odd_id', 'visible': false},
                  {'data': 'league_grp', 'visible': false},
                  {'data': 'match_grp', 'visible': false},
                  {'data': 'match_bid', 'visible': false},

              ],

              'drawCallback': function(settings, json) {
                $(".update-handler").each(function () {
                    $(this).modalForm(
                      {formURL: $(this).data('id'),
                        modalID: "#modal",
                        modalContent: ".modal0-content",
                        modalForm: "#formUpdateForecastHandler",
                        submitBtn: "#submit-form-id"
                      }
                    );
                  });
                $(".delete-handler").each(function () {
                    $(this).modalForm(
                      {formURL: $(this).data('id'),
                        modalID: "#modal",
                        modalContent: ".modal0-content",
                        modalForm: "#formDeleteForecastHandler",
                        submitBtn: "#submit-form-id",
                        isDeleteForm: true
                      }
                    );
                  });
              },


              "rowCallback": function( row, data, index ) {
                  if (data.league_grp == 1) {
                    $(row).addClass('alert-link alert-primary');
                  } else if (data.match_grp == 1) {
                    $(row).addClass('text-info');
                  }
              }

      });

      table.on('select', function ( e, dt, type, indexes) {
        check_selected();
        });
      table.on('deselect', function ( e, dt, type, indexes) {
        check_selected();
        });


    });


    function check_selected() {
      var selected_cnt=0, chance=0.0, expect=0, odd_value=0;
      var table = $('#main_table').DataTable();
      var data = table.rows( { selected: true } ).data();
      for (var i=0; i < data.length ;i++){
        if (data[i]["league_grp"]==0 && data[i]["match_grp"]==0){
          selected_cnt++;
          if (chance==0){
            chance = data[i]["success_chance"];
          } else {
            chance = Math.round(chance*data[i]["success_chance"]*1000)/1000;
          }
          if (expect==0){
            expect = data[i]["result_value"];
          } else {
            expect = Math.round(expect*data[i]["result_value"]*1000)/1000;
          }
          if (odd_value==0){
            odd_value = data[i]["odd_value"];
          } else {
            odd_value = Math.round(odd_value*data[i]["odd_value"]*1000)/1000;
          }
        }
      }

      var info = "Selected: " + selected_cnt.toString() + 
                 ", Chance: " + chance.toString() + 
                 ", Expect: " + expect.toString() + 
                 ", Odd: " + odd_value.toString();
      $('#selected-info-id').text(info);
    } 


    function create_bet_dlg() 
      {
      var table = $('#main_table').DataTable();
      var data = table.rows( { selected: true } ).data();
      var idarray=[]; 
      for (var i=0; i < data.length ;i++){
        if (data[i]["league_grp"]==0 && data[i]["match_grp"]==0){
          idarray.push(data[i]["id"]);
        }
      }
        
        var url = "{% url 'betting:create_bet' %}?odds=" + idarray.toString();
        newForm("#modal",
                ".modal0-content",
                "#formCreateBet",
                url,
                ".invalid",
                "#submit-form-id")
      };


    
  </script>
{% endblock %}



