{% extends "base_modal_form.html" %}
{% load widget_tweaks %}
{% block title %}Update Predictor{% endblock %}
{% block form_id %}formUpdatePredictor{% endblock form_id %}

{% block modal-body %}
  <!-- Row1 -->
  <div class="form-row">
    <!-- SLUG -->
    <div class="form-group col-sm">
      {% render_field form.slug|add_label_class:"col-form-label"  %}
      {% render_field form.slug|add_error_class:"is-invalid" class="form-control form-control-sm" placeholder=form.slug.label %}
      <div class="text-danger">{{form.slug.errors}}</div>
    </div>
    <!-- name -->
    <div class="form-group col-sm">
      {% render_field form.name|add_label_class:"col-form-label"  %}
      {% render_field form.name|add_error_class:"is-invalid" class="form-control form-control-sm" placeholder=form.name.label %}
      <div class="text-danger">{{form.name.errors}}</div>
    </div>
  </div>

  <!-- Row2 -->
  <div class="form-row">
    <!-- forecast_handler -->
    <div class="form-group col-sm">
      {% render_field form.forecast_handler|add_label_class:"col-form-label"  %}
      {% render_field form.forecast_handler|add_error_class:"is-invalid" class="form-control form-control-sm" placeholder=form.forecast_handler.label %}
      <div class="text-danger">{{form.forecast_handler.errors}}</div>
    </div>
    <!-- harvest -->
    <div class="form-group col-sm">
      {% render_field form.harvest|add_label_class:"col-form-label"  %}
      {% render_field form.harvest|add_error_class:"is-invalid" class="form-control form-control-sm" placeholder=form.harvest.label %}
      <div class="text-danger">{{form.harvest.errors}}</div>
    </div>
  </div>

  <!-- Row2 -->
  <div class="form-row">
    <!-- priority -->
    <div class="form-group col-sm">
      {% render_field form.priority|add_label_class:"col-form-label"  %}
      {% render_field form.priority|add_error_class:"is-invalid" class="form-control form-control-sm" placeholder=form.priority.label %}
      <div class="text-danger">{{form.priority.errors}}</div>
    </div>
    <!-- status -->
    <div class="form-group col-sm">
      {% render_field form.status|add_label_class:"col-form-label"  %}
      {% render_field form.status|add_error_class:"is-invalid" class="form-control form-control-sm" placeholder=form.status.label %}
      <div class="text-danger">{{form.status.errors}}</div>
    </div>
  </div>

{% endblock %}

{% block button-action %}Update{% endblock button-action %}
