{% extends "base_modal_form.html" %}
{% load widget_tweaks %}
{% block title %}Delete leagues{% endblock %}
{% block form_id %}formDeleteLeagues{% endblock form_id %}


{% block modal-body %}


  <div class="alert alert-info" role="alert">
    <p class="lead">The following leagues are prepared for deletion. Delete?</p>
  </div>


  <input type="hidden" class="form-control form-control-sm" id="leagues_id" name="leagues_id" value="{{leagues_id}}">

      <div class="table-responsive">
        <table id="main-table" class="order-column table table-striped table-sm table-bordered" style="width:100%">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Type</th>
              <th>Country</th>
              <th>Status</th>
              <th>Source</th>
            </tr>
          </thead>
        </table>
      </div>


  <script>

    $(document).ready(function () {

      var table = $('#main-table').DataTable({
              'serverSide': true,
              'lengthMenu': [ 25, 50, 75, 100 ],
              'ajax': "{% url 'football:league_list_api'  %}?format=datatables&leagues={{leagues_id}}",
              'order': [[ 0, 'asc' ]],
              'columns': [
                  {'data': 'id'},
                  {'data': 'name'},
                  {'data': 'team_type', 'name':'team_type.name'},
                  {'data': 'country', 'name':'country.name'},
                  {'data': 'load_status'},
                  {'data': 'load_source', 'name':'load_source.name'},
              ],
      });


    });
  </script>


{% endblock %}


{% block button-action %}Delete leagues{% endblock %}