{% extends "base_modal_form.html" %}
{% block title %}Select referee{% endblock %}
{% block form_id %}formSelectReferee{% endblock form_id %}

{% block modal-body %}


      <div class="table-responsive">
        <table id="select_referee_table" class="order-column table table-striped table-sm table-bordered" style="width:100%">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Country</th>
              <th>Status</th>
              <th>Source</th>
            </tr>
          </thead>
        </table>
      </div>


  <script>

    $(document).ready(function () {

      var events = $('#events');

      var table = $('#select_referee_table').DataTable({
              'serverSide': true,
              'lengthMenu': [ 25, 50, 75, 100 ],
              'ajax': "{% url 'football:referee_list_api'  %}?format=datatables",
              'order': [[ 0, 'asc' ]],
              'columns': [
                  {'data': 'id'},
                  {'data': 'name'},
                  {'data': 'country.name'},
                  {'data': 'load_status'},
                  {'data': 'load_source.name'},
              ],
      });


        $('#select_referee_table tbody').on('dblclick', 'tr', function () {
          var data = table.row( this ).data();
          $('#referee_id').val(data.id);
          $('#referee_name').val(data.name);
          $("#closeSelectLeagueForm").trigger({ type: "click" });
          // $('#modal1-content').html("");
        });


    });
  </script>



{% endblock %}


{% block modal-footer %}
    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="closeSelectLeagueForm">Close</button>
{% endblock modal-footer %}
