{% extends "base_modal_form.html" %}
{% load widget_tweaks %}
{% block title %}Create season{% endblock %}
{% block form_id %}formCreateSeason{% endblock form_id %}


{% block modal-body %}

  <!-- Row1 -->
  <div class="form-row">
    <!-- name -->
    <div class="form-group col-sm">
      {% render_field form.name|add_label_class:"col-form-label"  %}
      {% render_field form.name|add_error_class:"is-invalid" class="form-control form-control-sm" placeholder=form.name.label %}
      <div class="text-danger">{{form.name.errors}}</div>
    </div>
    <!-- league -->
    <div class="form-group col-sm">
      {% render_field form.league|add_label_class:"col-form-label"  %}
      {% render_field form.league|add_error_class:"is-invalid" class="form-control form-control-sm" placeholder=form.league.label %}
    </div>
  </div>

  <!-- Row2 -->
  <div class="form-row">
    <!-- start_date -->
    <div class="form-group col-sm">
      {% render_field form.start_date|add_label_class:"col-form-label"  %}
      {% render_field form.start_date|add_error_class:"is-invalid" class="form-control form-control-sm" placeholder=form.start_date.label %}
      <div class="text-danger">{{form.start_date.errors}}</div>
    </div>
    <!-- end_date -->
    <div class="form-group col-sm">
      {% render_field form.end_date|add_label_class:"col-form-label"  %}
      {% render_field form.end_date|add_error_class:"is-invalid" class="form-control form-control-sm" placeholder=form.end_date.label %}
      <div class="text-danger">{{form.end_date.errors}}</div>
    </div>
  </div>

  <!-- Row3 -->
  <div class="form-row">
    <!-- load_source -->
    <div class="form-group col-sm">
      {% render_field form.load_source|add_label_class:"col-form-label"  %}
      {% render_field form.load_source|add_error_class:"is-invalid" class="form-control form-control-sm" placeholder=form.load_source.label %}
      <div class="text-danger">{{form.load_source.errors}}</div>
    </div>
  </div>

{% endblock %}



{% block button-action %}Create Season{% endblock button-action %}
